/* global element styling */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --gold-theme-color: rgba(215, 181, 109, 1);
    --main-black: rgba(0, 0, 0, 0.6);
    --gradient-black: linear-gradient(180deg,
    rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(90deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 1)),
    url(https://wallpapercave.com/wp/wp2666508.jpg);
    color:whitesmoke;
}

.page-wrap{
    position: relative;
}

.container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

h2 {
    font-size: larger;
    text-align: center;
}

/* menu element styling */

header {
    background: var(--gradient-black);
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 60px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{ 
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li{
    margin: 0 5px;
}

.nav-link{
    color: var(--gold-theme-color);
}

.logo{
    width: 60vw;
    position: static;
    /*border: violet solid;*/
}

.logo img{
    width: 100%;
    height: 100%;
    max-width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* menu on tablets */

@media (max-width: 768px) {
    
    .logo{
        display: flex;
        justify-content: center;
    }

    nav ul{
        width: 55vw; 
    }

    nav ul li{
        text-align: center;
    }
}

/* menu on phones */
@media (max-width: 650px) {
    
    .container{
        margin-top: 71px;
    }
    
    header {
        flex-direction: column;
    }

    .logo{
        width: 100%;
        margin: 5px auto;
    }

    #certification-section h2{
        font-size: medium;
    }
}

@media (max-width: 600px) {
    
    .container{
        margin-top: 155px;
    }

    header {
        flex-wrap: wrap;
    }

    .logo{
        width: 100%;
    }

    nav ul{
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

    nav ul li{
        margin: 1px 0;
        width: 100%;
        text-align: center;
    }

    #certification-section h2{
        font-size: medium;
    }
}

/* section elements styling */

#product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

#product-section h2{
    background-color: var(--gold-theme-color);
    border-radius: 30px;
    padding: 5px 10px;
    color: black;
}

#product-section p{
    text-align: center;
    margin-top: 1rem;
}

#video {
    margin-top: 1.5rem;
    max-width: 560px;
    width: 100%;
}

#details-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

#details-section h2{
    background-color: var(--gold-theme-color);
    border-radius: 30px;
    padding: 5px 10px;
    color: black;
}

#details-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: white;
}

#details-section ul li a{
    color: var(--gold-theme-color);
}

#certification-section{
    /*border: var(--gold-theme-color) solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

#certification-section h2{
    background-color: var(--gold-theme-color);
    border-radius: 30px;
    padding: 5px 10px;
    color: black;
}

#certification-img {
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
}

#subscribe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

#subscribe-section p{
    text-align: center;
    margin-top: 1rem;
}

#subscribe-section h2{
    background-color: var(--gold-theme-color);
    border-radius: 30px;
    padding: 5px 10px;
    color: black;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#email{
    margin: 0 5px;
}

#submit{
    background-color: var(--gold-theme-color);  
    border-radius: 20px;
    padding: 1px 2px;
}

/* footer element styling */

footer{
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5));
    width: 100%;  
    bottom: 0;
}

.footer-container{
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#copyrights{
    justify-content: end;
    width: 100%;
    text-align: center;
    border-top: 1px var(--gold-theme-color) solid;
}

.social-icon i{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 20%;
    margin: 15px 2px;
    background-color:var(--gold-theme-color);    
    color: black;
}

#footer-link{
    margin-top: 10px;
}

#site-link{
    color:var(--gold-theme-color);  
}
